.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px;
    gap: 40px;
    border: 1px solid $quaternary_color;
    background-color: #fff;
    font-size: 12px;
    margin-bottom: 32px;

    .card_header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        gap: 10px;

        h2 {
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;
        }

        .card_header_left {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .btn {
            display: flex;
            align-items: center;
            gap: 10px;

            img,
            .svgIcon {
                width: 15px;
                height: 15px;
            }
        }

        .upload_btn {
            background-color: $secondary_color;
            border-color: transparent;
            color: #fff;
        }

        .add_btn {
            border-width: 1px;
            box-shadow: 0px 1px 4px 0px #11182714;
            gap: 4px;
            font-weight: 700;
            line-height: 18.9px;
            color: #1F2937;

            .add_btn_icon svg {
                stroke-width: 1.5px;
                color: $default_txt;
            }
        }
    }

    .drop_box_container {
        display: none;
        width: 100%;
        height: 100px;

        .drop_box {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            padding: 24px;
            border: 1px dashed #D1D5DB;
            border-radius: 12px;
            background-color: #F9FAFB;

            .card_icon {
                width: 24px;
                height: 24px;
                color: #D1D5DB;
            }

            h4 {
                color: #111827;
            }

            p {
                color: #6B7280;
            }
        }
    }

    .card_body_header {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: flex-start;
        padding: 8px 16px;
        background-color: $quaternary_color;
        border-radius: 8px;

        .item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 4px 12px;
        }
    }

    .card_list {
        width: 100%;
        gap: 10px;
    }

    .status {
        width: 70px;
        flex: 0 0 70px;
    }

    .domain {
        width: 100%;
        flex: 1 1 189px;
    }

    .modified {
        width: 117px;
        flex: 0 0 117px;
    }

    .actions {
        width: 64px;
        flex: 0 0 64px;
    }

    .pagination {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 10px;
        color: $tertiary_color;
        padding-top: 16px;

        .pagination-text {
            display: flex;
            align-items: center;
            gap: 4px;

            .pagination-current {
                width: 29px;
                height: 28px;
                line-height: 12px;
                font-weight: 500;
                color: $tertiary_color;
                max-width: 400px;
                padding: 8px 12px;
                gap: 8px;
                border-radius: 8px;
                background-color: #F9FAFB;
                border: 1px solid $quaternary_color;

            }
        }

        .pagination_dropdown_container {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        .button {
            border-color: transparent;
            color: $quaternary_color;
        }

        &:hover {
            background-color: transparent;
            color: $tertiary_color;
        }
    }
}

// smaller
@media screen and (max-width: 459px) {
    .card .item.modified {
        display: none;
    }
}

// Tablet styles
@media screen and (min-width: 768px) {
    .card {
        font-size: 14px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        border-radius: 24px;
    }
}

// Desktop styles
@media screen and (min-width: 1440px) {
    .card {
        font-size: 14px;
        border-radius: 24px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

        .drop_box_container {
            display: block;
        }
    }
}