.tracker {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26px;
    padding: 8px 12px;
    border-radius: 8px;
    color: #683781;
    background-color: #EEDEF7;
    font-size: 10px;
    font-weight: 700;
    line-height: 10px;
}