// colors
$primary_color: #AE5DD7;
$secondary_color: #0D6EFD;
$tertiary_color: #6B7280;
$quaternary_color: #E5E7EB;
$gradient: linear-gradient(90.85deg, #AE5DD7 -13.77%, #0D6EFD 100.36%);

//font colors
$default_txt: #374151;
$hilight_txt: #0D6EFD;
$inactive_txt: #6B7280;